.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 10px 0;
}

.imageList {
	margin: 0;
	padding: 0 10px;
	max-height: 700px;
	background: lightgray;
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	font-size: 0;
}

.imageList .figure {
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px 0 10px;
}

.imageList .figure:last-child {
	margin-bottom: 20px;
}

.imageList .caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 140px;
	margin-top: 5px;
}

.imageList .frame {
	width: 140px;
	height: 140px;
	border: 1px solid gray;
	background: #eee;
	line-height: 140px;
	text-align: center;
	overflow: hidden;
}

.imageList .frame .landscape {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.imageList .frame .portrait {
	width: auto;
	height: 100%;
}

.imageList .frame img {
	visibility: hidden;
}

.imageList .frame img.complete {
	visibility: visible;
}

.showMoreWrapper {
	text-align: center;
	margin: 5px 0;
}